.llamada  {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #FFFFFF; /*Cambio de colores*/

    text-align: center;
    background-color: #00161C; /* Cambio de colores*/

    padding-top: 12.25rem; /* Cometario la ubicacion del texto */
    padding-bottom: 2.5rem;
}

.llamada__titulo {
    font-family: var(--montserrat);
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.llamada__texto {
    font-size: 1.25rem;
    line-height: normal;
    margin: 0 auto 2.5rem;
}

.llamada__boton {
    width: 100%;
}